.container-block {
    text-align: center;
}
.container-block__content {
    text-align: initial;
}
.container-block__header span {
    font-size: 32px;
}
.container-block__header hr {
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 3px;
    border-radius: 50px;
    width: 100px;
}
.container-block__sub-header {
    color: gray;
    margin: 0 auto;
}
.container-block__sub-header span {
    font-size: 18px;
}
.container-block__form {
    margin-top: 40px;
}
.container-block__form button {
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50px;
    color: white;
    border: none;
}
.container-block__form button:hover {
    color: #eaeaea;
}
.container-block__form button i.fa {
    border: 2px solid white;
    background: white;
    color: #e1a1a3;
    border-radius: 60px;
    display: inline-block;
    font-size: 8px;
    padding: 6px 7px;
}
