.bg--red:hover {
    background: #d94e4711;
}
.bg--orange {
    background: rgb(255, 149, 0);
    color: white;
}
.bg--yellow {
    background: rgb(255, 204, 0);
    color: white;
}
.bg--green {
    background: rgb(76, 217, 100);
    color: white;
}
.bg--teal {
    background: rgb(90, 200, 250);
    color: white;
}
.bg--blue:hover {
    background: rgba(0, 122, 255, 0.01);
}
.bg--purple {
    background: rgb(88, 86, 214);
    color: white;
}
.bg--pink {
    background: rgb(255, 45, 85);
    color: white;
}
.bg--gd-red {
    background: rgb(255, 59, 48);
    background: -webkit-linear-gradient(to bottom, #df1165, #d94e47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #df1165, #d94e47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.breadcrumb {
    background-color: #f1f1f1;
}
.card {
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.card::before {
    background: rgba(0, 0, 0, .03);
    border-radius: 10px;
    content: " " !important;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(0.4);
    width: 100%;
    z-index: 3;
}
.card:hover::before {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s ease-in;
}
.card-badge {
    position: absolute;
    top: 30px;
    left: 30px;
}
.card-badge .badge {
    font-size: 15px;
    padding: 5px 10px;
}
.card-body {
    position: relative;
}
.card-img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.card-img img {
    width: 100%;
}
.card-title {
    padding-top: 10px;
}
.container-block__content .-large {
    height: 60px;
    font-size: 20px;
    text-align: center;
}
