@font-face {
    font-family: "DS-DIGI";
    src: url("../fonts/ds-digi-webfont.eot"); /* IE9 Compat Modes */
    src: url("../fonts/ds-digi-webfont.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/ds-digi-webfont.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/ds-digi-webfont.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/ds-digi-webfont.svg#ds-digi")
            format("svg"); /* Legacy iOS */
}
@font-face {
    font-family: 'VCR_OSD_Mono';
    src: url("../fonts/VCR_OSD_MONO.woff") format("woff"),
        url("../fonts/VCR_OSD_MONO.ttf") format("truetype");

}
.-digital {
    font-family: "DS-DIGI";
}


.-vcr {
    font-family: 'VCR_OSD_Mono';
}

.-glitch {
    position: relative;
}

.-glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 2s infinite linear alternate-reverse;
}
.-glitch:after {
    content: attr(data-text);
    position: absolute;
    transform: rotate(180deg);
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: #e2e2e2;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.-glitch.-slow:before {
    animation: noise-anim-2 1.8s infinite linear alternate-reverse;
}
.-glitch.-slow:after {
    clip: rect(0, 300px, 0, 0);
    animation: noise-anim 2.3s infinite linear alternate-reverse;
}

.-glitch.-medium:before {
    clip: rect(0, 500px, 0, 0);
    animation: noise-anim-2 1.9s infinite linear alternate-reverse;
}
.-glitch.-medium:after {
    clip: rect(0, 600px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.-invert {
    filter: invert(1);
}

.-retro {
    width: 100%;
    height: 120vh;
    position: absolute;
    right: 0;
    margin: auto;
    object-fit: cover;
    filter: brightness(1);
}

.-scanlines {
    background: radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.32) 10, rgba(0, 0, 0, 0.68));
    overflow: hidden;
    filter: brightness(110%) saturate(130%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
    z-index: 90;
    opacity: .8;
}

.-scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.5) 51%);
    background-size: 100% 4px;
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
}

@keyframes noise-anim {
    0% {
        clip: rect(21px, 9999px, 89px, 0);
    }
    5% {
        clip: rect(29px, 9999px, 45px, 0);
    }
    10% {
        clip: rect(24px, 9999px, 67px, 0);
    }
    15% {
        clip: rect(18px, 9999px, 38px, 0);
    }
    20% {
        clip: rect(8px, 9999px, 50px, 0);
    }
    25% {
        clip: rect(29px, 9999px, 9px, 0);
    }
    30% {
        clip: rect(2px, 9999px, 7px, 0);
    }
    35% {
        clip: rect(44px, 9999px, 23px, 0);
    }
    40% {
        clip: rect(99px, 9999px, 96px, 0);
    }
    45% {
        clip: rect(58px, 9999px, 17px, 0);
    }
    50% {
        clip: rect(38px, 9999px, 65px, 0);
    }
    55% {
        clip: rect(19px, 9999px, 70px, 0);
    }
    60% {
        clip: rect(20px, 9999px, 60px, 0);
    }
    65% {
        clip: rect(44px, 9999px, 7px, 0);
    }
    70% {
        clip: rect(6px, 9999px, 71px, 0);
    }
    75% {
        clip: rect(75px, 9999px, 23px, 0);
    }
    80% {
        clip: rect(29px, 9999px, 80px, 0);
    }
    85% {
        clip: rect(14px, 9999px, 27px, 0);
    }
    90% {
        clip: rect(22px, 9999px, 97px, 0);
    }
    95% {
        clip: rect(56px, 9999px, 55px, 0);
    }
    100% {
        clip: rect(7px, 9999px, 11px, 0);
    }
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(63px, 9999px, 19px, 0);
    }
    5% {
        clip: rect(59px, 9999px, 39px, 0);
    }
    10% {
        clip: rect(17px, 9999px, 26px, 0);
    }
    15% {
        clip: rect(59px, 9999px, 24px, 0);
    }
    20% {
        clip: rect(49px, 9999px, 11px, 0);
    }
    25% {
        clip: rect(50px, 9999px, 30px, 0);
    }
    30% {
        clip: rect(36px, 9999px, 95px, 0);
    }
    35% {
        clip: rect(74px, 9999px, 23px, 0);
    }
    40% {
        clip: rect(31px, 9999px, 61px, 0);
    }
    45% {
        clip: rect(20px, 9999px, 75px, 0);
    }
    50% {
        clip: rect(70px, 9999px, 74px, 0);
    }
    55% {
        clip: rect(65px, 9999px, 34px, 0);
    }
    60% {
        clip: rect(12px, 9999px, 97px, 0);
    }
    65% {
        clip: rect(96px, 9999px, 60px, 0);
    }
    70% {
        clip: rect(80px, 9999px, 68px, 0);
    }
    75% {
        clip: rect(79px, 9999px, 81px, 0);
    }
    80% {
        clip: rect(9px, 9999px, 4px, 0);
    }
    85% {
        clip: rect(23px, 9999px, 64px, 0);
    }
    90% {
        clip: rect(78px, 9999px, 11px, 0);
    }
    95% {
        clip: rect(99px, 9999px, 32px, 0);
    }
    100% {
        clip: rect(11px, 9999px, 48px, 0);
    }
}


.-bg.-crystal-clear {
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.-pos {
    position: initial;
}
.-pos.-relative {
    position: relative;
}
