.welcome {
  height: 100vh;
  position: relative;
  overflow: hidden;
  &-icon {
    position: absolute;
    top: 20%;
    width: 100%;
    left: 60px;
    z-index: 1;
    height: 100%;
    .img {
      height: 60%;
    }
  }
  .col {
    height: 100vh;
    padding: 60px 0;
    &--right {
      padding-right: 60px;
      background: #ffd902;
      .welcome-container {
        background: white;
      }
    }
    &--left {
      padding-left: 60px;
      background: white;
      .welcome-container {
        background: #ffd902;
      }
    }
  }
  &-container {
    height: 100%;
    position: relative;
    .text-container {
      position: relative;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      height: inherit;
      overflow: hidden;
      flex-wrap: wrap;
      h1 {
        position: absolute;
        line-height: 0;
        white-space: nowrap;
        font-size: 120px;
        color: white;
        font-weight: bold;
      }
      &--1 {
        top: -10px;
        left: 0;
      }
      &--2 {
        top: 110px;
        right: 0;
      }
      &--3 {
        top: 230px;
        left: 10px;
      }
      &--4 {
        top: 350px;
        right: -10px;
      }
      &--5 {
        top: 470px;
        left: 0;
      }
      &--6 {
        top: 590px;
        right: 0;
      }
    }
    .img {
      position: absolute;
      pointer-events: none;
      width: 50%;
      right: 10px;
      top: 30%;
    }
    .login {
      justify-content: flex-end;
      font-weight: bold;
      display: flex;
      font-size: 24px;
      padding: 40px;
      a {
        color: black;
        cursor: pointer;
        margin-left: 40px;
      }
    }
    .slogan {
      padding: 20px;
      font-size: 40px;
      font-weight: bold;
      width: 80%;
    }
    .footer {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-weight: bold;
    }
  }
}
